activitiesService/src/main/resources/activitiesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="Activities"
	targetNamespace="http://it.univaq.disim.sose.boredweekend/providers/activitiesService"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:tns="http://it.univaq.disim.sose.boredweekend/providers/activitiesService"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose.boredweekend/providers/activitiesService">
			<xsd:element name="cityActivitiesRequest" type="tns:CityActivitiesRequest" />
			<xsd:element name="cityActivitiesResponse" type="tns:CityActivitiesResponse" />
			<xsd:element name="addActivity" type="tns:AddActivityRequest" />

			<xsd:complexType name="CityActivitiesRequest">
				<xsd:sequence>
					<xsd:element name="city" type="xsd:string" />
					<xsd:element name="category" type="tns:ActivityCategory" minOccurs="0" maxOccurs="6"/>
					<xsd:element name="day" type="tns:WeekDay" maxOccurs="7" />
					<xsd:element name="daytime" type="tns:Daytime" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CityActivitiesResponse">
				<xsd:sequence>
					<xsd:element name="activities" type="tns:ActivityType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AddActivityRequest">
				<xsd:sequence>
					<xsd:element name="activity" type="tns:ActivityType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ActivityType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="city" type="xsd:string" />
					<xsd:element name="position" type="tns:Position" />
					<xsd:element name="daytime" type="tns:Daytime" />
					<xsd:element name="days" type="tns:WeekDay" maxOccurs="7" />
					<xsd:element name="category" type="tns:ActivityCategory" maxOccurs="6"/>
					<xsd:element name="state" type="xsd:boolean" />
					<xsd:element name="info" type="xsd:string" />
					<xsd:element name="payment" type="xsd:boolean" />
					<xsd:element name="img" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Position">
				<xsd:sequence>
					<xsd:element name="latitude" type="xsd:double" />
					<xsd:element name="longitude" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="WeekDay">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Monday" />
					<xsd:enumeration value="Tuesday" />
					<xsd:enumeration value="Wednesday" />
					<xsd:enumeration value="Thursday" />
					<xsd:enumeration value="Friday" />
					<xsd:enumeration value="Saturday" />
					<xsd:enumeration value="Sunday" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="ActivityCategory">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Outdoor" />
					<xsd:enumeration value="Sport" />
					<xsd:enumeration value="Family" />
					<xsd:enumeration value="CityLife" />
					<xsd:enumeration value="Culture" />
					<xsd:enumeration value="Nature" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="Daytime">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Morning" />
					<xsd:enumeration value="Afternoon" />
					<xsd:enumeration value="Daylight" />
					<xsd:enumeration value="Night" />
					<xsd:enumeration value="FullDay" />
				</xsd:restriction>
			</xsd:simpleType>

		</xsd:schema>
	</types>

	<message name="cityActivitiesRequest">
		<part name="parameters" element="tns:cityActivitiesRequest">
		</part>
	</message>
	<message name="cityActivitiesResponse">
		<part name="parameters" element="tns:cityActivitiesResponse">
		</part>
	</message>
	<message name="addActivityMessage">
		<part name="parameters" element="tns:addActivity">
		</part>
	</message>

	<portType name="ActivitiesPT">
		<operation name="getCityActivities">
			<input message="tns:cityActivitiesRequest">
			</input>
			<output message="tns:cityActivitiesResponse">
			</output>
		</operation>
		<operation name="addActivity">
			<input message="tns:addActivityMessage">
			</input>
		</operation>
	</portType>

	<binding name="ActivitiesBinding" type="tns:ActivitiesPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			<operation name="getCityActivities">
				<soap:operation soapAction="getActivities" />
				<input>
					<soap:body use="literal" />
				</input>
				<output>
					<soap:body use="literal" />
				</output>
			</operation>
			<operation name="addActivity">
				<soap:operation soapAction="addActivity" />
				<input>
					<soap:body use="literal" />
				</input>
			</operation>
		</binding>

		<service name="ActivitiesService">
			<port name="ActivitiesPort" binding="tns:ActivitiesBinding">
				<soap:address location="http://localhost:8080/activitiesService/activitiesService" />
			</port>
		</service>

	</definitions>
